@use "./abstracts/variables" as v;
@use "./abstracts/mixins" as m;

@use "base/reset";
@use "base/typography";
@use "component";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: v.$fontFamily;
  font-size: v.$fontSize;
  font-style: normal;
  font-weight: 300;
  background-color: v.$background-light;
  color: v.$text-color;
}

#root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;

  @include m.breakpoint(tablet) {
    align-items: center;
    gap: 0.5em;
  }
}
main {
  box-sizing: border-box;
  min-height: 88.5vh;



}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: v.$titleFontFamily;
  color: v.$primary-color;
  font-weight: 300;
}

h1 {
  font-weight: 700;
  font-size: v.$fontSize * 2.5;
}

h2{
  font-weight: 600;
  font-size: v.$fontSize * 2.5;
}

h3{
  font-weight: 400;
  font-size: v.$fontSize * 1.6;
}

h4 {
  font-size: v.$fontSize*1.3 ;
}


// Définir les variables CSS dans :root
:root {
  --primary-color: #0264a5;
  --primary-color-dark: darken(#0264a5, 10%);
  --primary-color-light: lighten(#0264a5, 10%);
  --secondary-color: #f57625;
  --secondary-color-dark: darken(#f57625, 10%);
  --secondary-color-light: lighten(#f57625, 10%);
  --background-light: #ffffff;
  --background-medium: darken(#ffffff, 10%);
  --background-dark: darken(darken(#ffffff, 10%), 10%);
  --grey: #52576a;
  --grey-100: darken(#52576a, 2%);
  --success-color: #579b81;
  --warning-color: #d79042;
  --danger-color: #ec3d29;
  --info-color: rgb(23, 162, 184);
  // Ajoutez d'autres variables de couleur ici
}