@use "../../styles/abstracts/variables" as v;
@use "../../styles/abstracts/mixins" as m;

.skewed {
  position: relative;
  width: 100%;
  background-color: var(
    --background-color,
    white
  ); // Utilisation de la variable CSS

  .skewed-content {
    transform: skewY(0deg);
  }

  &::before,
  &::after {
    background: var(
      --skewed-color,
      white
    ); // Utilisation de la variable CSS pour les éléments skewed
  }

  &.bottom {
    margin-bottom: 2vw;
    &::after {
      content: "";
      position: absolute;
      bottom: -9vw;
      left: 0;
      width: 100%;
      height: 15vw;
      background: linear-gradient(
        to top,
        var(--skewed-color, white) 60%,
        rgba(255, 255, 255, 0) 90%
      );
      //z-index: 0;

      @include m.breakpoint(md-mobile) {
        bottom: 2.4vw;
        height: 12vw;
      }
    }
  }

  &.bottomReverse {
    margin-bottom: 9vw;
    &::after {
      content: "";
      position: absolute;
      bottom: -9vw;
      left: 0;
      width: 100%;
      height: 9vw;

      background: linear-gradient(
        to bottom,
        var(--skewed-color, white) 60%,
        rgba(255, 255, 255, 0) 90%
      );


      @include m.breakpoint(md-mobile) {
        //bottom: 2.4vw;
        height: 12vw;
      }
    }
  }

  &.top {   
    margin-top: 10vw;
    &::before {
      content: "";
      position: absolute;
      top: -4vw;
      left: 0;
      width: 100%;
      height: 10vw;
   
      background: linear-gradient(
        to top,
        var(--skewed-color, white) 60%,
        rgba(255, 255, 255, 0) 90%
      );

      @include m.breakpoint(md-mobile) {
        //top: 2.4vw;
        height: 12vw;
      }
    }
  }

  &.topReverse{
    margin-top: 2vw;
    &::before {
      content: "";
      position: absolute;
      top: -2vw;
      left: 0;
      width: 100%;
      height: 15vw;
      background: linear-gradient(
        to bottom,
        var(--skewed-color, white) 60%,
        rgba(255, 255, 255, 0) 90%
      );
     z-index: 20;

      @include m.breakpoint(md-mobile) {
        top: 2.4vw;
        height: 12vw;
      }
    }
  }



  &.right {
    &::before {
      transform-origin: top right;
      transform: skewY(3deg);

      @include m.breakpoint(md-mobile) {
        transform: skewY(0deg);
      }
    }

    &::after {
      transform-origin: bottom right;
      transform: skewY(3deg);

      @include m.breakpoint(md-mobile) {
        transform: skewY(0deg);
      }
    }
  }

  &.left {
    &::before {
      transform-origin: top left;
      transform: skewY(-3deg);

      @include m.breakpoint(md-mobile) {
        transform: skewY(0deg);
      }
    }
    &::after {
      transform-origin: bottom left;
      transform: skewY(-3deg);

      @include m.breakpoint(md-mobile) {
        transform: skewY(0deg);
      }
    }
  }
}
