@use "../../../ui/styles/abstracts/variables" as v;
@use "../../../ui/styles/abstracts/mixins" as m;

.session-card {
  /* style*/
  background-color: white;
  border-radius: 0.8rem;
  padding: 1em;
  @include m.shadow();
  
  
  /* comportement */
  overflow: hidden;
  max-height: 150px;
  width: 370px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;

  &_body{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
  }
 &_logo{
    width: 70px !important;
    height: auto !important;
 }
 
 .body_content{
    font-size: medium;

    .places{
        font-size: small;   
    }
 }

 &_footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5em;

    font-size: small;
 }
}