@use "../ui/styles/abstracts/variables" as v;
@use "../ui/styles/abstracts/mixins" as m;



.youWelcome {
  position: relative;
  height: 90vh;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;


  &_text {

    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1em;

    background-color: rgba(255, 255, 255, 0.228);
    border-radius: 1em;
    padding: 1.5em;

    .youWelcome_title{
      font-size: 3.5rem;
      font-weight: 700;
      color: white;
      
    span{
      font-size: 1.8rem;
    }
    }

  }

  .bannerHomePage {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.about {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

 .aboutGallery{
  position: relative;
  max-width: 50vw;
  width: 100%;
  min-height: 100%;
  display: flex;
 }
  .galleryItem1{
    position: absolute;
    top: -50%;
    left: 0;
    width: 40vw;
    max-width: 500px;
   height: auto;
  }
  .galleryItem2 {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
  }


  .aboutContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1rem;
    flex: 1 1 50%;
  
    @include m.breakpoint(tablet) {
      align-items: center;
      text-align: center;
    }
  }
}

.activity-item {
  width: 100%;
  box-sizing: border-box;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 3em;
  //background-color: rgb(104, 104, 9);

  .item-body {

    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1em;
    grid-template-columns: repeat(4, minmax(100px, 200px));

    @include m.breakpoint(tablet) {
      grid-template-columns: repeat(2, minmax(150px, 200px));
    }
    @include m.breakpoint(md-mobile) {
      grid-template-columns: repeat(1, minmax(150px, 200px));
    }
   svg {
    min-width: 120px;
    width: 100%;
    max-width: 180px;
   }
  }


}
